<ul class="nav justify-content-end navbar-dark bg-dark" style="justify-content: flex-start!important;">
    <li style="align-self: center;">
        <a class="logo" style="font-family: fantasy; color: #d48888; font-weight: bolder;">Gataullina0942</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" [routerLink]="'../info'" style="color:aliceblue;">Главная</a>
    </li>
    <li class="nav-item">
    <a class="nav-link active" [routerLink]="'persons'" style="color:aliceblue; font-weight:800;">Студенты</a>
    </li>
</ul>
<div class="container">
    <app-list></app-list>
    <hr>
    <app-add></app-add>
    
</div>
